name: github pages

on:
  workflow_dispatch:
  pull_request:
  push:
    branches-ignore:
      - main

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Setup Python (pip)
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Find typos with codespell
        run: uvx codespell --ignore-words-list=seh

      - run: uv run zensical build

      - name: Upload Results
        uses: actions/upload-artifact@v5
        with:
          name: website
          path: ./site

  deploy:
    runs-on: ubuntu-latest
    needs: build
    concurrency: ci-${{ github.ref }}
    permissions:
      contents: write
    if: github.event_name != 'pull_request' && github.ref == 'refs/heads/source'
    steps:
      - name: Download Results
        uses: actions/download-artifact@v6
        with:
          name: website
          path: ./site

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
          publish_branch: main
          cname: www.mingw-w64.org
